@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Trochut&display=swap');

* {
    box-sizing: box-border;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #F9F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Gudea";
    color: #E4EBE4;
}


.container {
    max-width: 1050px;
    width: 90px;
    /* margin: auto; */
    height: 100%;
}

.navbar {
    /* font-family: "Trochut";
    background-color: #537554; */
    width: 100%;
    /* box-shadow: 0 5px 4px rgb(#537554 / 25%); */
    height: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.nav-bar .menu-items {
    display: flex;
}

.navbar .nav-container a {
    text-decoration: none;
    color:#E4EBE4;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-menu {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-menu .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #E4EBE4;
}

.nav-container .hamburger-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-menu .line2 {
    transition: transform 0.2s ease-in-out;
    width: 100%;
}
.nav-container .hamburger-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

.navbar .menu-items {
    /* padding-top: 60px; */
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    transition: transform 0.75s ease-in-out;
    text-align: center;
    list-style-type: none;
    background-color: #537554;
    /* background-image: url('./assets/svg/8.svg'); */
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Trochut";
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.5rem;
    color: #E4EBE4;
}

.logo img {
    font-size: 1.875rem;
    cursor: pointer;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-menu .line-1 {
    transform: rotate(45deg);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-menu .line-2 {
    transform: scaleY(0);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-menu .line-3 {
    transform: rotate(-45deg);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-menu .line {
    background: #E4EBE4;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 1.25rem;
    padding: 0;
}


/* .hamburger-menu {
    background-color: #537554;
} */


.hero {
    background-color: #537554;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    text-align: center;
    font-size: 2.25rem;
}