<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Trochut&display=swap');

* {
    box-sizing: box-border;
    margin: 0;
    padding: 0;
    outline: none;
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #F9F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Gudea";
    color: #E4EBE4;
}

body {
    background-color: #E4EBE4;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1050px;
    width: 90px;
    /* margin: auto; */
    height: 100%;
}

.navbar {
    /* font-family: "Trochut"; */
    background-color: #537554;
    width: 100%;
    /* box-shadow: 0 5px 4px rgb(#537554 / 25%); */
    height: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.nav-bar .menu-items {
    display: flex;
}

.navbar .nav-container a {
    text-decoration: none;
    color:#E4EBE4;
    font-weight: 500;
    font-size: 3rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-menu {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-menu .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #E4EBE4;
}

.nav-container .hamburger-menu .line-1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-menu .line-2 {
    transition: transform 0.2s ease-in-out;
    width: 100%;
}
.nav-container .hamburger-menu .line-3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

.navbar .menu-items {
    /* padding-top: 60px; */
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    /* margin-left: -40px; */
    transition: transform 0.75s ease-in-out;
    text-align: center;
    list-style-type: none;
    background-color: #537554;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Trochut";
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.5rem;
    color: #E4EBE4;
}

.logo img {
    font-size: 1.875rem;
    cursor: pointer;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-menu .line-1 {
    transform: rotate(45deg);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-menu .line-2 {
    transform: scaleY(0);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-menu .line-3 {
    transform: rotate(-45deg);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-menu .line {
    background: #E4EBE4;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 1.25rem;
    padding: 0;
}


/* .hamburger-menu {
    background-color: #537554;
} */


.hero {
    background-color: #537554;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    text-align: center;
    font-size: 3.75rem;
    line-height: 2.5rem;
}

.carousel {

}

.carousel-1-wrapper {
    display: grid;
}

.img-1 {
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

@keyframes fade {
    0% { 
    opacity: 1;
    }
  25% { 
    opacity: 1;
    }
  75% {
    opacity: 0;
  }
    100% { 
        opacity: 0;
    }
}

.img-2 {
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.img-3 {
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
}

.about {
    background-color: #E4EBE4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: auto;
}

.about-heading {
    font-family: "Trochut";
    color: #748759;
    margin: 3rem 1rem;
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 200;
}

.about-info {
    font-family: "Gudea";
    color: #748759;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.primary-btn {
    padding: 0.75rem 2rem;
    background-color: #748759;
    font-family: "Trochut";
    font-size: 1rem;
    color: #E4EBE4;
    cursor: pointer;
    margin: 1rem 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
}

.photo-grid {
    display: grid;;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-gap: 2rem;
    width: 100%;
    margin: 1rem 1rem;
}

.grid-item-1 {
    background-image: url('./assets/2-min.jpg');
    grid-column: 2/6;
    grid-row: 1/13;
    background-position: center;
    background-size: cover;
}

.grid-item-2 {
    background-image: url('./assets/6-min.jpg');
    grid-column: 11/18;
    grid-row: 1/11;
    background-position: center;
    background-size: cover;
}

.grid-item-3 {
    background-image: url('./assets/8-min.jpg');
    grid-column: 1/9;
    grid-row: 17/24;
    background-position: center;
    background-size: cover;
}

.grid-item-4 {
    background-image: url('./assets/4-min.jpg');
    grid-column: 10/18;
    grid-row: 18/26;
    background-position: center;
    background-size: cover;
}

.grid-item-5 {
    background-image: url('./assets/9-min.jpg');
    grid-column: 7/11;
    grid-row: 4/17;
    background-position: center;
    background-size: cover;
}

.services {
    background-color: #E4EBE4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: auto;
}

.services-heading {
    font-family: "Trochut";
    color: #748759;
    margin: 3rem 1rem;
    font-size: 3rem;
    line-height: 1rem;
    font-weight: 200;
}

.services-info {
    font-family: "Gudea";
    color: #748759;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.services-cards {
    max-width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    flex-wrap: wrap;
    justify-content: center;
}

.service-1 {
    max-width: 24rem;
    border: #E4EBE4;
    border-color: #537554;
    background-color: #748759;
    margin: 1rem 1rem;
    box-shadow: 0px 2px 10px black;
}

.service-img {
    width: 100%;
}

.service-1-info-heading {
    padding: 1.25rem 0.5rem;
    background-color: #748759;
}

.service-1-info {
    color: #E4EBE4;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
    font-family: "Trochut";
}

.services-cards a:hover {
    opacity:75%;
    transition: all;
}

.service-2 {
    max-width: 24rem;
    border: #E4EBE4;
    border-color: #537554;
    background-color: #748759;
    margin: 1rem 1rem;
    box-shadow: 0px 2px 10px black;
}

.service-img {
    width: 100%;
}

.service-2-info-heading {
    padding: 1.25rem 0.5rem;
    background-color: #748759;
}

.service-2-info {
    color: #E4EBE4;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
    font-family: "Trochut";
}

.service-3 {
    max-width: 24rem;
    border: #E4EBE4;
    border-color: #537554;
    background-color: #748759;
    margin: 1rem 1rem;
    box-shadow: 0px 2px 10px black;
}

.service-img {
    width: 100%;
}

.service-3-info-heading {
    padding: 1.25rem 0.5rem;
    background-color: #748759;
}

.service-3-info {
    color: #E4EBE4;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
    font-family: "Trochut";
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: auto;
}

.testimonials-heading {
    font-family: "Trochut";
    color: #748759;
    margin: 3rem 1rem;
    font-size: 3rem;
    line-height: 1rem;
    font-weight: 200;
}

.testimonials-cards {
    max-width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial-1 {
    max-width: 24rem;
    border: 0.025rem solid;
    border-color: #000000;
    background-color: #E4EBE4;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 10px black;
}

.testimonial-img {
    width: 50%;
}

.testimonial-info-heading {
    padding: 1.25rem 0.5rem;
    background-color: #E4EBE4;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-info {
    color: #537554;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Trochut";
    margin-top: 1rem;
    font-weight: 200;
}

.testimonial-info-two {
    color: #537554;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Gudea";
    margin-top: 1rem;
}

.carousel-two {
    margin: 3rem 0 0 0;
}

.carousel-two-wrapper {
    display: grid;
}

.img-4 {
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

@keyframes fade {
    0% { 
    opacity: 1;
    }
  25% { 
    opacity: 1;
    }
  75% {
    opacity: 0;
  }
    100% { 
        opacity: 0;
    }
}

.img-5 {
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

.img-6 {
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
}



.contact-us {
    background-color: #8BA18C;
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
}

.contact-us-heading {
    font-family: "Trochut";
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #E4EBE4;
    text-align: left;
    padding: 1rem 1rem 0 1rem;
    font-weight: 200;
}

.contact-us-info {
    font-family: "Gudea";
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #E4EBE4;
    padding: 1rem 1rem;
}

.contact-us-form {
    background-color: #8BA18C;
    padding: 0 1rem;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}

.contact-us-form::placeholder {
    color: #8BA18C;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-send-icon {
    color: #E4EBE4;
    font-size: 3.75rem;
    line-height: 2.25rem;
    padding: 1rem 1rem 1rem 0.5rem;
}

.contact-us-form input {
    padding: 0.875rem 0.5rem;
    width: 100%;
    /* margin: 1rem 0rem 1rem 0rem; */
    border: 0;
    background-color: #E4EBE4;
    font-family: "Gudea";
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.contact-us-terms {
    font-family: "Gudea";
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #E4EBE4;
    padding: 0.5rem 1rem;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FAEA8B;
}

.footer-info {
    display: flex;
    flex-direction: column;
    color: #456236;
    background-color: #FAEA8B;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
}

.footer-img {
    width: 5%;
    padding: 0.5rem 0;
}

.footer-heading {
    font-family: "Trochut";
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem 0;
}

.footer-para {
    font-family: "Gudea";
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding: 0.5rem 0;
}

.footer-icon {
    font-size: 1.875rem;
    line-height: 2.25rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}

.footer-icon a {
    cursor: pointer;
    color: #456236;
}

.insta-icon {
    padding-left: 0.5rem;
}

.footer-info-2 {
    display: flex;
    flex-direction: column;
    color: #456236;
    font-family: "Trochut";
    font-size: 1rem;
    line-height: 1.75rem;
    background-color: #FAEA8B;
    padding: 0 1rem 0 1rem;
    justify-content: center;
    align-items: center;
}

.footer-info-2 span {
    padding: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.75rem;
}

.ks-contact {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-decoration: none;
    color: #456236;
    border-bottom: 0px;
}

.ks-contact:hover {
    border-bottom: 1px solid;
    border-color: #456236;
}


@media (max-width: 1200px) {
    .navbar .nav-container a {
        font-weight: 500;
        font-size: 3rem;
        padding: 0.7rem;
    }

    .hero-heading {
        font-size: 3.75rem;
        line-height: 2.5rem;
    }

    .about-heading {
        font-size: 3rem;
        line-height: 2.5rem;
        margin: 3rem 0;
    }

    .about-info {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .primary-btn {
        font-size: 1.5rem;
        font-size: 2rem;
    }
    
    .photo-grid {
        display: grid;;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(24, 1fr);
        grid-gap: 1.875rem;
    }
    
    .grid-item-1 {
        background-image: url('./assets/2-min.jpg');
        grid-column: 2/6;
        grid-row: 1/13;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-2 {
        background-image: url('./assets/6-min.jpg');
        grid-column: 11/18;
        grid-row: 1/11;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-3 {
        background-image: url('./assets/8-min.jpg');
        grid-column: 1/9;
        grid-row: 17/24;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-4 {
        background-image: url('./assets/4-min.jpg');
        grid-column: 10/18;
        grid-row: 16/25;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-5 {
        background-image: url('./assets/9-min.jpg');
        grid-column: 7/11;
        grid-row: 4/16;
        background-position: center;
        background-size: cover;
    }

    .services-heading {
        font-size: 3rem;
        line-height: 1rem;
        font-weight: 200;
        margin: 3rem 0;
    }
    
    .services-info {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .service-1-info {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 200;
    }

    .service-2-info {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 200;
    }
        
    .service-3-info {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 200;
    }

    .testimonials-heading {
        font-size: 3rem;
        line-height: 1rem;
        font-weight: 200;
        margin: 3rem 0;
    }

    .testimonial-info {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 200;
    }
    
    .testimonial-info-two {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .contact-us-heading {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 200;
    }
    
    .contact-us-info {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .contact-us-send-icon {
        font-size: 3.75rem;
        line-height: 2.25rem;
    }

    .contact-us-form input {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .contact-us-terms {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .footer-heading {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .footer-para {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    
    .footer-icon {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .footer-info-2 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    
    .footer-info-2 span {
        font-size: 1rem;
        line-height: 1.75rem;
    }

}

@media (max-width: 992px) {
    .navbar .nav-container a {
        font-weight: 500;
        font-size: 3rem;
        padding: 0.7rem;
    }

    .hero-heading {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .about-heading {
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin: 2rem 0;
    }

    .about-info {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .primary-btn {
        font-size: 1.25rem;
        font-size: 1.75rem;
    }
    
    .photo-grid {
        display: grid;;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(24, 1fr);
        grid-gap: 1.25rem;
    }
    
    .grid-item-1 {
        background-image: url('./assets/2-min.jpg');
        grid-column: 2/6;
        grid-row: 1/13;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-2 {
        background-image: url('./assets/6-min.jpg');
        grid-column: 11/18;
        grid-row: 1/13;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-3 {
        background-image: url('./assets/8-min.jpg');
        grid-column: 1/9;
        grid-row: 19/29;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-4 {
        background-image: url('./assets/4-min.jpg');
        grid-column: 10/18;
        grid-row: 21/29;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-5 {
        background-image: url('./assets/9-min.jpg');
        grid-column: 7/11;
        grid-row: 4/19;
        background-position: center;
        background-size: cover;
    }

    .services-heading {
        font-size: 2.25rem;
        line-height: 2.25rem;
        font-weight: 200;
        margin: 2rem 0;
    }
    
    .services-info {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .service-1-info {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 200;
    }
    
    .service-2-info {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 200;
    }
    
    .service-3-info {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 200;
    }

    .testimonials-heading {
        font-size: 2.25rem;
        line-height: 2.25rem;
        font-weight: 200;
        margin: 2rem 0;
    }

    .testimonial-info {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 200;
    }
    
    .testimonial-info-two {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .contact-us-heading {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 200;
    }
    
    .contact-us-info {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .contact-us-send-icon {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .contact-us-form input {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .contact-us-terms {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .footer-heading {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    
    .footer-para {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .footer-icon {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .footer-info-2 {
        font-size: 1.125rem;
        line-height: 1.75rem;

    }
    
    .footer-info-2 span {
        font-size: 1rem; 
        line-height: 1.75rem;
    }


}

@media (max-width: 768px) {
    .navbar .nav-container a {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 2.5rem;
        padding: 0.7rem;
    }

    .hero-heading {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .about-heading {
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin: 2rem 0;
    }

    .about-info {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .primary-btn {
        font-size: 1.125rem;
        font-size: 1.75rem;
    }
    
    .photo-grid {
        display: grid;;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(24, 1fr);
        grid-gap: 1.25rem;
    }
    
    .grid-item-1 {
        background-image: url('./assets/2-min.jpg');
        grid-column: 2/6;
        grid-row: 1/13;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-2 {
        background-image: url('./assets/6-min.jpg');
        grid-column: 11/18;
        grid-row: 2/14;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-3 {
        background-image: url('./assets/8-min.jpg');
        grid-column: 1/9;
        grid-row: 19/29;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-4 {
        background-image: url('./assets/4-min.jpg');
        grid-column: 10/18;
        grid-row: 21/29;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-5 {
        background-image: url('./assets/9-min.jpg');
        grid-column: 7/11;
        grid-row: 4/19;
        background-position: center;
        background-size: cover;
    }

    .services-heading {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 200;
        margin: 2rem 0;
    }
    
    .services-info {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    
    .service-1-info {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 200;
    }

    
    .service-2-info {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 200;
    }
    
    
    .service-3-info {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 200;
    }

    .testimonials-heading {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 200;
        margin: 2rem 0;
    }

    .testimonial-info {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 200;
    }
    
    .testimonial-info-two {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .contact-us-heading {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 200;
    }
    
    .contact-us-info {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .contact-us-send-icon {
        font-size: 2.25rem;
        line-height: 1rem;
    }

    .contact-us-form input {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .contact-us-terms {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .footer-heading {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    
    .footer-para {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    
    .footer-icon {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .footer-info-2 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .footer-info-2 span {
        font-size: 1rem; 
        line-height: 1.75rem;
    }
}

@media (max-width: 640px) {
    .navbar .nav-container a {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 2.5rem;
        padding: 0.7rem;
    }

    .hero-heading {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .about-heading {
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin: 1rem 0;
    }

    .about-info {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .primary-btn {
        font-size: 1rem;
        font-size: 0.875rem;
    }
    
    .photo-grid {
        display: grid;;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(24, 1fr);
        grid-gap: 1rem;
    }
    
    .grid-item-1 {
        background-image: url('./assets/2-min.jpg');
        grid-column: 2/6;
        grid-row: 1/13;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-2 {
        background-image: url('./assets/6-min.jpg');
        grid-column: 11/18;
        grid-row: 1/11;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-3 {
        background-image: url('./assets/8-min.jpg');
        grid-column: 1/9;
        grid-row: 17/24;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-4 {
        background-image: url('./assets/4-min.jpg');
        grid-column: 10/18;
        grid-row: 16/25;
        background-position: center;
        background-size: cover;
    }
    
    .grid-item-5 {
        background-image: url('./assets/9-min.jpg');
        grid-column: 7/11;
        grid-row: 4/16;
        background-position: center;
        background-size: cover;
    }

    .services-heading {
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin: 1rem 0;
    }
    
    .services-info {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .service-1-info {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 200;
    }
    
    .service-2-info {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 200;
    }
    
    .service-3-info {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 200;
    }

    .testimonials-heading {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 200;
        margin: 1rem 0;
    }

    .testimonial-info {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 200;
    }
    
    .testimonial-info-two {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .contact-us-heading {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 200;
    }
    
    .contact-us-info {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .contact-us-send-icon {
        font-size: 1.875rem;
        line-height: 1rem;
    }

    .contact-us-form input {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .contact-us-terms {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .footer-heading {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .footer-para {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    
    .footer-icon {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .footer-info-2 {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    
    .footer-info-2 span {
        font-size: 1rem; 
        line-height: 1.5rem;
    }
}
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: box-border;
}

a {
    text-decoration: none;
}

li i {
    color: black;
}

nav {
    /* position: fixed; */
    /* z-index: 20; */
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-container {
    width: 95vw;
}

.container {
    max-width: 1050px;
    width: 90px;
    margin: auto;
    height: 100%;
    position: absolute;
}

.navbar {
    width: 100vw;
    /* box-shadow: 0 5px 4px rgb(146 161 176 / 15%); */
    height: 100%;
}

/* .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
} */

/* .nav-container-two {
    display: flex;
    flex-direction: row;;
} */

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container a {
    text-decoration: none;
    color:#ffffff;
    font-weight: 500;
    font-size: 1.75rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    text-decoration: underline;
    color: #87D7E8;
}

.nav-container {
    display: block;
    position: relative;
    height: 10px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 7px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    left: 7px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    width: 75%;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    width: 50%;
}

.navbar .menu-items {
    padding-top: 60px;
    height: 100vh;
    width: 100%;
    transform: translate(-200%);
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    transition: transform 1.5s ease-in-out;
    text-align: center;
    list-style-type: none;
    background-color: black;
    background-image: url('./assets/svg/8.svg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: start;
    position: fixed;
    z-index: 1;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Open Sans";
    color: #FFFFFF;
    margin-left: 0.5rem;
}

.navbar .menu-sub-items li {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Times New Roman";
    color: #FFFFFF;
}

.navbar .menu-sub-items li i {
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0.75rem;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2.25rem;
    color: black;
}

.logo img {
    font-size: 2.25rem;
    cursor: pointer;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
    transition: transform 0.5s;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    transition: transform 0.5s;
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    transition: transform 0.5s;
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    transition: transform 0.5s;
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line {
    background: #FFFFFF;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 1.25rem;
    padding: 0;
}

.menu-items .ruva-cleans {
    font-family: "Open Sans";
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
    /* margin: 1rem; */
    /* padding: 10px 0px; */
}

.hero img {
    width: 100%;
    /* margin: 2rem; */
}
>>>>>>> 74ffb64 (Project initialized)
